#topo {
    text-align: center;
    color: white;
}

body {
    background-image: url("Futuristic-Red-Blue-Background-Design-Graphics-30683310-1.jpg ");
    color: white;
}
footer {
    text-align: center;
}


#imagem {
    width: 2px;
    height: 10px;

}

footer {
    padding-top: 200px;
}

btcad {
    padding-top: 100px;
    text-align: center;
}
